html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.button.is-success {
  background-color: #2EB398;
}
.nav.is-dark {
  background-color: #232B2D;
  color: #F6F7F7;
}
.nav.is-dark .nav-item a, .nav.is-dark a.nav-item {
    color: #F6F7F7;
}
.nav.is-dark .nav-item a.button.is-default {
    color: #F6F7F7;
    background-color: transparent;
    border-width: 2px;
}
.aside {
  background-color: #69D2E7;
  padding-bottom: -50px;
  /*margin-right: -10px;*/
}
.aside .main {
  padding: 40px;
  color: #6F7B7E;
}
.aside .title {
  color: #DFCDB4;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.aside .main .item {
  display: block;
  padding: 10px 0;
  color: #DFCDB4;
}
.aside .main .item.active {
  color: #F6F7F7;
}
.aside .main .icon {
  font-size: 19px;
  padding-right: 30px;
}
.aside .main .name {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.admin-panel {
  padding: 0;
}
.content {
  display: block;
  background-color: #fff;
  padding: 40px 20px;
}
.hero .tabs ul {
    border-bottom: 1px solid #d3d6db;
}